<div data-role="navbar" data-theme="a">
                    
    <button type="button" class="mainpage">Return to the Home Page</button>
    <br>
    <br>
    <button type="button" class="currentr">View Your Recipes</button>
    <br>
    <br>
    <button type="button" class="newr">Add New Recipe</button>
    <br>
    <br>
</div>
<table>
    <tr>
        <th>Recipe Name</th>
        <th>Author</th>
        <th>Date Added</th>
        <th>Cuisine Type</th>
        <th>Meal</th>
        <th>Recipe</th>
    </tr>
    <tr>
        <td id="rname"></td>
        <td id="author"></td>
        <td id="date"></td>
        <td id="cuisine"></td>
        <td id="meal"></td>
        <td id="recipe"></td>
    </tr>
</table>
<% $("#rname").text(details.Name);
$("#author").text(details.Author);
$("#date").text(details.Date);
$("#cuisine").text(details.Cuisine);
$("#meal").text(details.Meal);
$("#recipe").text(details.Recipe);
%>